In [424]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [425]:
df = pd.read_csv('./_data.csv', sep=',')
includes = []
for i in range(len(df)):
    if 'Москва' not in df['Адрес'][i]:
        includes.append(i)
print(df.columns.to_list())
df_clean=df.drop(includes)
print(len(df_clean))
df = df_clean.copy().drop(['Тип', 'Unnamed: 0', 'Телефоны', 'Серия дома', 'Название ЖК', 'Ссылка на объявление','Адрес', 'Описание','Дополнительно'], axis=1)
df['Ремонт'].fillna('неизвестно')

df.to_csv('data.csv', sep='\t')

['Unnamed: 0', 'ID  объявления', 'Количество комнат', 'Тип', 'Метро', 'Адрес', 'Площадь, м2', 'Дом', 'Парковка', 'Цена', 'Телефоны', 'Описание', 'Ремонт', 'Площадь комнат, м2', 'Балкон', 'Окна', 'Санузел', 'Можно с детьми/животными', 'Дополнительно', 'Название ЖК', 'Серия дома', 'Высота потолков, м', 'Лифт', 'Мусоропровод', 'Ссылка на объявление']
19737

In [426]:
df.head(2)

,ID объявления,Количество комнат,Метро,Адрес,"Площадь, м2",Дом,Парковка,Цена,Ремонт,"Площадь комнат, м2",Балкон,Окна,Санузел,Можно с детьми/животными,"Высота потолков, м",Лифт,Мусоропровод
0,271271157,4,м. Смоленская (9 мин пешком),"Москва, улица Новый Арбат, 27",200.0/20.0,"5/16, Монолитный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,NaN,NaN,NaN,NaN,"Можно с детьми, Можно с животными",3.0,"Пасс (4), Груз (1)",Да
1,271634126,4,м. Смоленская (8 мин пешком),"Москва, улица Новый Арбат, 27",198.0/95.0/18.0,"5/16, Монолитно-кирпичный",подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,25 25 20 25,NaN,На улицу и двор,"Совмещенный (2), Раздельный (1)",Можно с детьми,3.5,"Пасс (1), Груз (1)",Нет

In [427]:
#Приведим все комнаты в числовое или около того значение
df['Количество комнат'] = df['Количество комнат'].str[0]

In [428]:
#Убираем NaN в кол-ве комнат
df['Количество комнат'].fillna(int(df['Количество комнат'].mode()), inplace=True)

/tmp/ipykernel_48319/1043790658.py:2: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  df['Количество комнат'].fillna(int(df['Количество комнат'].mode()), inplace=True)

In [429]:
# Считаем, что отдельные площади кухни и комнат нам не важны, и оставляет только общую площадь.
df['Площадь кв, м2'] = [row.split('/')[0] for row in df['Площадь, м2']]
# И убираем две колонки с площадью
# Удаляем колонки со старой площадью
df = df.drop(['Площадь, м2'], axis = 1)
df = df.drop(['Площадь комнат, м2'], axis = 1)

In [430]:
# Убираем NaN в колонке 'Окна'
df['Окна'] = df['Окна'].fillna('Во двор')

In [431]:
# Убираем NaN в колонке 'Ремонт'
df['Ремонт'] = df['Ремонт'].fillna('Косметический')

In [432]:
# Вытаскиваем информацию из колонки 'дом'
df['Тип дома'] = [row.split(', ')[-1] if len(row.split(', ')[-1]) > 6 else 'Неизвестно' for row in df['Дом']]
df['Этажность дома'] = [int(row.split('/')[1].split(',')[0]) for row in df['Дом']]
df['Этаж квартиры'] = [int(row.split('/')[0]) for row in df['Дом']]
df = df.drop(['Дом'], axis = 1)

In [433]:
# Избавляемся от NaN для лифтов, если меньше 5 этажей - нет лифта, в остальном по одному каждого лифта
df['Лифт'] = [row if row == row else
              ['Пасс (1), Груз (1)' if df['Этажность дома'].iloc[i]>5 else 'Пасс (0), Груз (0)'][0]
              for i, row in enumerate(df['Лифт'])]

In [434]:
# Убираем NaN в колонке 'Мусоропровод'
df['Мусоропровод'] = df['Мусоропровод'].fillna('Нет')

In [435]:
# Убираем NaN в колонке 'Высота потолков, м'
df['Высота потолков, м'] = df['Высота потолков, м'].fillna(round(df['Высота потолков, м'].mean(), 2))

In [436]:
# Убираем NaN в колонке 'Санузел'
df['Санузел'] = df['Санузел'].fillna('Совмещенный (1)')
df['Санузел совмещенный'] = [row.split(' ')[1] if (row.split(' ')[0]) == 'Совмещенный' else '(0)' for row in df['Санузел']]
df['Санузел раздельный'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Раздельный' else '(0)' for row in df['Санузел']]
df['Санузел совмещенный'] = [row.split('(')[1] for row in df['Санузел совмещенный']]
df['Санузел совмещенный'] = [int(row.split(')')[0]) for row in df['Санузел совмещенный']]
df['Санузел раздельный'] = [row.split('(')[1] for row in df['Санузел раздельный']]
df['Санузел раздельный'] = [int(row.split(')')[0]) for row in df['Санузел раздельный']]
df = df.drop(['Санузел'], axis = 1)

In [437]:
# Убираем NaN в колонке 'Балкон'
df['Балкон'] = df['Балкон'].fillna('Балкон (0), Лоджия (0)')
df['Лоджия'] = [row.split(' ')[-1] if (row.split(' ')[-2]) == 'Лоджия' else '(0)' for row in df['Балкон']]
df['Балкон'] = [row.split(' ')[1] if row.split(' ')[0] == 'Балкон' else '(0)' for row in df['Балкон']]
df['Лоджия'] = [row.split('(')[1] for row in df['Лоджия']]
df['Лоджия'] = [int(row.split(')')[0]) for row in df['Лоджия']]
df['Балкон'] = [row.split('(')[1] for row in df['Балкон']]
df['Балкон'] = [int(row.split(')')[0]) for row in df['Балкон']]

In [438]:
df['Парковка'] = df['Парковка'].fillna('наземная')

In [439]:
df['Можно с детьми/животными']=df['Можно с детьми/животными'].fillna('по договорённости')

In [440]:
#Переводим расстояние до метро в метры в зависимости от указанного способо передвижения, для NaN задаём медиану
df['время до метро'] = df['Метро'].str.replace(')', '').str.split('(').str[-1]
df[['время в минутах', 'способ']] = df['время до метро'].str.extract(r'(\d+) мин\s(пешком|на машине)')
df['способ'] = df['способ'].apply(lambda x: 70 if x == 'пешком' else 750)
df['способ'] = df['способ'].fillna(0)
df['время в минутах'] = df['время в минутах'].fillna(0)
df['distance to subway, m'] = df['способ'] * df['время в минутах'].astype(int)
median_value = df['distance to subway, m'].median()
df['distance to subway, m'] = df['distance to subway, m'].replace(0, median_value)

In [441]:
df.rename(columns={'ID  объявления': 'Ad_ID'}, inplace=True)
df.rename(columns={'Количество комнат': 'Number_of_Rooms'}, inplace=True)
df.rename(columns={'Метро': 'Metro'}, inplace=True)
df.rename(columns={'Адрес': 'Address'}, inplace=True)
df.rename(columns={'Парковка': 'Parking'}, inplace=True)
df.rename(columns={'Цена': 'Price'}, inplace=True)
df.rename(columns={'Ремонт': 'Renovation'}, inplace=True)
df.rename(columns={'Балкон': 'Balcony'}, inplace=True)
df.rename(columns={'Окна': 'Windows'}, inplace=True)
df.rename(columns={'Можно с детьми/животными': 'Children/Pets_Allowed'}, inplace=True)
df.rename(columns={'Дополнительно': 'Additional Info'}, inplace=True)
df.rename(columns={'Высота потолков, м': 'Ceiling_Height_M'}, inplace=True)
df.rename(columns={'Лифт': 'Elevator'}, inplace=True)
df.rename(columns={'Мусоропровод': 'Garbage_Chute'}, inplace=True)
df.rename(columns={'Площадь кв, м2': 'Area_sq_m'}, inplace=True)
df.rename(columns={'Тип дома': 'House_Type'}, inplace=True)
df.rename(columns={'Этажность дома': 'Number_of_Floors'}, inplace=True)
df.rename(columns={'Этаж квартиры': 'Floor_of_Apartment'}, inplace=True)
df.rename(columns={'Санузел совмещенный': 'Combined_Bathroom'}, inplace=True)
df.rename(columns={'Санузел раздельный': 'Separate_Bathroom'}, inplace=True)
df.rename(columns={'Лоджия': 'Balconette'}, inplace=True)
df.drop(['время до метро'], axis=1, inplace = True)
df.drop(['время в минутах'], axis=1, inplace = True)
df.drop(['способ'], axis=1, inplace = True)
df.drop(['Metro'], axis=1, inplace = True)

In [442]:
df['Parking'] = df['Parking'].apply(lambda x: x.capitalize())
df.head(10)

,Ad_ID,Number_of_Rooms,Address,Parking,Price,Renovation,Balcony,Windows,Children/Pets_Allowed,Ceiling_Height_M,Elevator,Garbage_Chute,Area_sq_m,House_Type,Number_of_Floors,Floor_of_Apartment,Combined_Bathroom,Separate_Bathroom,Balconette,"distance to subway, m"
0,271271157,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,Во двор,"Можно с детьми, Можно с животными",3.00,"Пасс (4), Груз (1)",Да,200.0,Монолитный,16,5,1,0,0,630
1,271634126,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,На улицу и двор,Можно с детьми,3.50,"Пасс (1), Груз (1)",Нет,198.0,Монолитно-кирпичный,16,5,2,1,0,560
2,271173086,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,0,На улицу и двор,Можно с детьми,3.20,Пасс (1),Нет,200.0,Неизвестно,16,5,3,0,0,490
3,272197456,4,"Москва, переулок Плотников, 21С1",Подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,0,На улицу и двор,Можно с животными,3.20,Пасс (1),Нет,170.0,Неизвестно,6,5,3,0,0,210
4,273614615,2,"Москва, улица Новый Арбат, 15",Наземная,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,0,На улицу и двор,по договорённости,3.90,"Пасс (1), Груз (1)",Да,58.0,Панельный,26,12,2,0,0,490
5,274837728,3,"Москва, 1-й Смоленский переулок, 21",Наземная,"470000.0 руб./ За месяц, Залог - 470000 руб., ...",Дизайнерский,0,Во двор,по договорённости,2.99,"Пасс (1), Груз (1)",Нет,92.0,Неизвестно,7,3,1,0,0,350
6,273643908,5,"Москва, переулок Романов, 3С1",Наземная,"350000.0 руб./ За месяц, Залог - 350000 руб., ...",Евроремонт,0,На улицу и двор,"Можно с детьми, Можно с животными",3.20,Пасс (1),Нет,213.0,Неизвестно,5,4,2,0,0,280
7,274475342,3,"Москва, улица Арбат, 43С3",Подземная,"250000.0 руб./ За месяц, Залог - 250000 руб., ...",Евроремонт,0,Во двор,"Можно с детьми, Можно с животными",3.20,Пасс (1),Нет,98.0,Монолитный,4,2,1,1,0,210
8,273973191,3,"Москва, Новинский бульвар, 18С1",Открытая,"130000.0 руб./ За месяц, Залог - 130000 руб., ...",Евроремонт,0,На улицу,Можно с животными,3.00,Пасс (1),Нет,120.0,Сталинский,10,5,1,0,0,630
9,272900409,4,"Москва, улица Арбат, 30/3С1",Открытая,"210000.0 руб./ За месяц, Залог - 210000 руб., ...",Евроремонт,1,На улицу и двор,Можно с детьми,310.00,Пасс (1),Да,90.0,Сталинский,7,2,1,1,0,700

In [443]:
df.insert(loc=df.columns.to_list().index('Elevator')+1, column='Count_freight_elevator', \
                  value=df['Elevator'].apply(lambda x: int(x[-2]) if 'Груз' in x else 0))
df['Elevator'] = df['Elevator'].apply(lambda x: int(x[x.index('(')+1]) if 'Пасс' in x else 0)
df = df.rename(columns={'Elevator': 'Count_pass_elevator'})

In [444]:
nans = df.isna().any().any()
print(nans)

False

In [445]:
df.head(5)

,Ad_ID,Number_of_Rooms,Address,Parking,Price,Renovation,Balcony,Windows,Children/Pets_Allowed,Ceiling_Height_M,...,Count_freight_elevator,Garbage_Chute,Area_sq_m,House_Type,Number_of_Floors,Floor_of_Apartment,Combined_Bathroom,Separate_Bathroom,Balconette,"distance to subway, m"
0,271271157,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,Во двор,"Можно с детьми, Можно с животными",3.0,...,1,Да,200.0,Монолитный,16,5,1,0,0,630
1,271634126,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,На улицу и двор,Можно с детьми,3.5,...,1,Нет,198.0,Монолитно-кирпичный,16,5,2,1,0,560
2,271173086,4,"Москва, улица Новый Арбат, 27",Подземная,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,0,На улицу и двор,Можно с детьми,3.2,...,0,Нет,200.0,Неизвестно,16,5,3,0,0,490
3,272197456,4,"Москва, переулок Плотников, 21С1",Подземная,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,0,На улицу и двор,Можно с животными,3.2,...,0,Нет,170.0,Неизвестно,6,5,3,0,0,210
4,273614615,2,"Москва, улица Новый Арбат, 15",Наземная,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,0,На улицу и двор,по договорённости,3.9,...,1,Да,58.0,Панельный,26,12,2,0,0,490

In [446]:
# df.to_csv('data.csv', sep=',')

In [447]:
# Добавим новый столбец Deposit
df.insert(loc=df.columns.to_list().index('Price')+1, column="Deposit",
         value=df['Price'])

# Переведём столбец Price из $ и € в рубли (где необходимо)
def converter(x):
    x = x.split(' ')
    
    if x[1] == '$':
        return int(float((x[0]))) * 95
        
    elif x == '€':
        return int(float((x[0]))) * 100
        
    else:
        return int(float((x[0])))

df['Price'] = df['Price'].apply(converter)
df

,Ad_ID,Number_of_Rooms,Address,Parking,Price,Deposit,Renovation,Balcony,Windows,Children/Pets_Allowed,...,Count_freight_elevator,Garbage_Chute,Area_sq_m,House_Type,Number_of_Floors,Floor_of_Apartment,Combined_Bathroom,Separate_Bathroom,Balconette,"distance to subway, m"
0,271271157,4,"Москва, улица Новый Арбат, 27",Подземная,500000,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,Во двор,"Можно с детьми, Можно с животными",...,1,Да,200.0,Монолитный,16,5,1,0,0,630
1,271634126,4,"Москва, улица Новый Арбат, 27",Подземная,500000,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Дизайнерский,0,На улицу и двор,Можно с детьми,...,1,Нет,198.0,Монолитно-кирпичный,16,5,2,1,0,560
2,271173086,4,"Москва, улица Новый Арбат, 27",Подземная,500000,"500000.0 руб./ За месяц, Залог - 500000 руб., ...",Евроремонт,0,На улицу и двор,Можно с детьми,...,0,Нет,200.0,Неизвестно,16,5,3,0,0,490
3,272197456,4,"Москва, переулок Плотников, 21С1",Подземная,400000,"400000.0 руб./ За месяц, Залог - 400000 руб., ...",Евроремонт,0,На улицу и двор,Можно с животными,...,0,Нет,170.0,Неизвестно,6,5,3,0,0,210
4,273614615,2,"Москва, улица Новый Арбат, 15",Наземная,225000,"225000.0 руб./ За месяц, Залог - 225000 руб., ...",Евроремонт,0,На улицу и двор,по договорённости,...,1,Да,58.0,Панельный,26,12,2,0,0,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,215565511,2,"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",Наземная,42000,"42000.0 руб./ За месяц, Залог - 42000 руб., Ко...",Евроремонт,1,Во двор,по договорённости,...,1,Нет,35.0,Неизвестно,14,10,1,0,0,560
23364,274654844,1,"Москва, Производственная улица, 8к1, ш. Боровс...",Наземная,45000,"45000.0 руб./ За месяц, Залог - 45000 руб., Ко...",Евроремонт,0,Во двор,по договорённости,...,1,Нет,38.7,Монолитный,18,5,1,0,1,490
23365,268679909,2,"Москва, Боровский проезд, 11",Наземная,50000,"50000.0 руб./ За месяц, Залог - 50000 руб., Ко...",Дизайнерский,1,На улицу и двор,Можно с детьми,...,0,Нет,43.1,Кирпичный,5,5,1,0,0,420
23366,274807525,2,"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",Наземная,55000,"55000.0 руб./ За месяц, Залог - 50000 руб., Ко...",Евроремонт,0,Во двор,по договорённости,...,0,Да,52.5,Монолитный,23,8,1,1,1,770
23367,274672243,2,"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",Наземная,57000,"57000.0 руб./ За месяц, Залог - 60000 руб., Ко...",Косметический,0,Во двор,"Можно с детьми, Можно с животными",...,0,Да,90.0,Панельный,23,6,0,1,1,700

In [448]:
# Отредактируем cтолбец Deposit

from string import punctuation

# Удалим ненужную пунктуацию, буквы и отступы на число
def del_punc(x):
    for let in x[:]:
        if let in punctuation:
            x = x.replace(let, '')
            
    return x

def cleaner_deposit(x):
    if 'Залог' in x:
        x = x.split('Залог')
        if '$' in x[1]:
            x = del_punc(x[1]).split()
            return int(x[0]) * 95
        
        elif '€' in x[1]:
            x = del_punc(x[1]).split()
            return int(x[0]) * 100

        else:
            x = del_punc(x[1]).split()
            return int(x[0])
    else:
        return 0


df['Deposit'] = df['Deposit'].apply(cleaner_deposit)
df

,Ad_ID,Number_of_Rooms,Address,Parking,Price,Deposit,Renovation,Balcony,Windows,Children/Pets_Allowed,...,Count_freight_elevator,Garbage_Chute,Area_sq_m,House_Type,Number_of_Floors,Floor_of_Apartment,Combined_Bathroom,Separate_Bathroom,Balconette,"distance to subway, m"
0,271271157,4,"Москва, улица Новый Арбат, 27",Подземная,500000,500000,Дизайнерский,0,Во двор,"Можно с детьми, Можно с животными",...,1,Да,200.0,Монолитный,16,5,1,0,0,630
1,271634126,4,"Москва, улица Новый Арбат, 27",Подземная,500000,500000,Дизайнерский,0,На улицу и двор,Можно с детьми,...,1,Нет,198.0,Монолитно-кирпичный,16,5,2,1,0,560
2,271173086,4,"Москва, улица Новый Арбат, 27",Подземная,500000,500000,Евроремонт,0,На улицу и двор,Можно с детьми,...,0,Нет,200.0,Неизвестно,16,5,3,0,0,490
3,272197456,4,"Москва, переулок Плотников, 21С1",Подземная,400000,400000,Евроремонт,0,На улицу и двор,Можно с животными,...,0,Нет,170.0,Неизвестно,6,5,3,0,0,210
4,273614615,2,"Москва, улица Новый Арбат, 15",Наземная,225000,225000,Евроремонт,0,На улицу и двор,по договорённости,...,1,Да,58.0,Панельный,26,12,2,0,0,490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23363,215565511,2,"Москва, Боровское шоссе, 2к7, ш. Боровское (3 ...",Наземная,42000,42000,Евроремонт,1,Во двор,по договорённости,...,1,Нет,35.0,Неизвестно,14,10,1,0,0,560
23364,274654844,1,"Москва, Производственная улица, 8к1, ш. Боровс...",Наземная,45000,45000,Евроремонт,0,Во двор,по договорённости,...,1,Нет,38.7,Монолитный,18,5,1,0,1,490
23365,268679909,2,"Москва, Боровский проезд, 11",Наземная,50000,50000,Дизайнерский,1,На улицу и двор,Можно с детьми,...,0,Нет,43.1,Кирпичный,5,5,1,0,0,420
23366,274807525,2,"Москва, улица Богданова, 6к1, ш. Боровское (3 ...",Наземная,55000,50000,Евроремонт,0,Во двор,по договорённости,...,0,Да,52.5,Монолитный,23,8,1,1,1,770
23367,274672243,2,"Москва, улица Богданова, 2к1, ш. Боровское (3 ...",Наземная,57000,60000,Косметический,0,Во двор,"Можно с детьми, Можно с животными",...,0,Да,90.0,Панельный,23,6,0,1,1,700